# Qualcomm MSM Interface (QMI) socket types
type qmux_audio_socket, file_type;
type qmux_bluetooth_socket, file_type;
type qmux_gps_socket, file_type;
type qmux_radio_socket, file_type;

allow efs_file rootfs:filesystem associate;
allow cache_file rootfs:filesystem associate;
allow asec_apk_file rootfs:filesystem associate;
