allow mediaserver default_prop:property_service set;
allow mediaserver system_server:unix_stream_socket { read write };
allow mediaserver time_dev:file r_file_perms;
