type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket1";
type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket2";
type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket3";

allow mm-qcamerad default_prop:property_service set;
allow mm-qcamerad system_data_file:sock_file { create unlink };
allow mm-qcamerad camera_socket:chr_file { open read write };
allow mm-qcamerad property_socket:sock_file write;
allow mm-qcamerad init:unix_stream_socket connectto;
