allow mpdecision socket_device:dir add_name;
allow mpdecision socket_device:sock_file { create setattr write };
allow mpdecision system_data_file:file { append open };
