allow mpdecision socket_device:dir add_name;
allow mpdecision socket_device:sock_file { write create setattr };
allow mpdecision system_data_file:file { open append };
