allow mpdecision socket_device:dir add_name;
allow mpdecision socket_device:sock_file { create setattr write };
# FIXME allow mpdecision system_data_file:file w_file_perms;
