allow ueventd camera_socket:chr_file { create setattr };
allow ueventd tap2wake_dev:file { getattr relabelto };
allow ueventd vfat:dir search;
allow ueventd vfat:file r_file_perms;
