[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Administrators
	create = group m8 Maintainers
	forgeCommitter = group m8 Maintainers
	label-Code-Review = -2..+2 group m8 Maintainers
	label-Verified = -1..+1 group m8 Maintainers
	rebase = group m8 Maintainers
	submit = group m8 Maintainers
[submit]
	action = rebase if necessary
