<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.cyanogenmod.dotcase"
      android:versionCode="1"
      android:versionName="1.0"
      android:sharedUserId="android.uid.systemui">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATIONS" />
    <supports-screens android:anyDensity="true" />
    <application android:label="Dotcase" android:process="com.android.systemui">
        <receiver android:name="org.cyanogenmod.dotcase.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <service android:name="CoverObserver" android:permission="CoverObserver">
            <intent-filter>
                <action android:name="CoverObserver"/>
            </intent-filter>
        </service>
        <activity
                  android:excludeFromRecents="true"
                  android:name="Dotcase"
                  android:label="Dotcase"
                  android:launchMode="singleInstance"
                  android:screenOrientation="portrait"
                  android:theme="@style/DotcaseTheme"
                  android:windowAnimationStyle="@null">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>
